/* index.css 메인 첫 페이지의 <main> */
body,html {scroll-behavior:smooth;} /* 애니메이션 - 스크롤 부드럽게 */
/* 우측 고정영역 */
.right_nav {
    position:fixed; right:20px; top:50%; transform:translateY(-50%);
    text-align:right;
    z-index:999;
}
.right_nav a {
    display:block;
    margin-bottom:20px;
    display:flex; /* 자식, 자손이 인라인이어도 크기 인식가능 */
    justify-content:flex-end;
}
.right_nav a:hover em {display:block;} /* 마우스 hover 글자보이기 */
.right_nav a em {display:none;} /* 글자숨기기 */
.right_nav a span {
    background-color:#fff;
    width:12px; height:12px;
    border-radius:50%;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    margin-left:10px;
}
/* 메인 시작영역 */
#wrap {}
/* =================================== 1. 광고배너 */
#wrap main {}
#wrap main .ad_wrap {} /* 슬라이드+버튼G */
/* 공통 선택자 */
#wrap main .ad_wrap .ad_container {}/* 슬라이드G */
#wrap main .ad_wrap .ad_container .ad {/* 슬라이드 */
    display:none;/* 모두숨기기 */
    height:800px;
    background-position:center; /* 화면을 줄일 때 사진 중앙 유지 -> 반응형 */
    position:relative; /* 부모기준으로 위치선정하기 위해 부모 위치 확인 세팅 */
} 
#wrap main .ad_wrap .ad_container .ad .ad_txt {
    width:1280px;/*  margin:0 auto; */ /* position 적용해서 공중으로 뜨는 특징때문에 margin은 적용되지 않는다. */
    position:absolute; /* 부모를 기준으로 위치선정 */
    bottom:123px;
    left:50%; /* 모든 레이아웃은 왼쪽 상단이 기준이라서 화면 중앙이 아닌 중앙을 기준으로 중앙에 배치됨 */
    transform:translateX(-50%); 
    /* absolute로 위치 설정 시 요소를 가운데 배치하려면 left:50%와 translate(-50%)를 함께 이용해야 배치할 수 있다. 단, 요소가 absolute가 아닌 평범한 요소라면 가운데 배치 시 margin:0 auto;를 사용하면 된다. */
}
#wrap main .ad_wrap .ad_container .ad .ad_txt h2 {
    font-size:2rem; font-weight:600;
    line-height:1.5;
    margin-bottom:23px;
    color:#fff;
}
#wrap main .ad_wrap .ad_container .ad .ad_txt p{
    line-height:1.6; color:#fff;
}
/* 광고 공통 버튼 */
#wrap main .ad_wrap .ad_btn {
    text-align:center;
    padding:34px 0;
}
#wrap main .ad_wrap .ad_btn #ad_prev {margin-right:10px;}
#wrap main .ad_wrap .ad_btn #ad_prev img{}
#wrap main .ad_wrap .ad_btn #ad_next {transform:scaleX(-1);} /* 반전 */
#wrap main .ad_wrap .ad_btn #ad_next img {}
/* ====================   2. 광고 개별 영역 */
#wrap main .ad_wrap .ad_container .ad1 {
    display:block;
    background-image:url(../images/ad_01.jpg);
}
#wrap main .ad_wrap .ad_container .ad2 {}
#wrap main .ad_wrap .ad_container .ad3 {}
#wrap main .ad_wrap .ad_container .ad4 {}
#wrap main .ad_wrap .ad_container .ad5 {}
/* =================================================================== */
/* ===================================== 2. 뉴스&공지사항 */
/* 공통 */
#wrap main .news_all {
    text-align:center;
    padding:50px 0;
}
#wrap main .news_all h2 {
    font-size:3rem;
    font-weight:700;
    margin:50px 0 20px;
}
#wrap main .news_all > P{}
#wrap main .news_all .news_wrap { /* 보이는 영역 - 보이고 싶은 크기*/
    width:1370px; overflow:hidden; /* 부모안에서만 보이기 */
    margin:0 auto; /* 화면보다 블록이 너비가 작을 떄 center 배치 */
    margin-bottom:20px;
} 
#wrap main .news_all .news_wrap .news_container { /* 움직이는 영역 - max-contant */
    display:flex; flex-flow:row nowrap;
    width:max-content; /* 부모 영역을 넘어서 움직이는 영역을 잡아줌 */
    text-align:left;
    padding:100px 0 50px;
} 
#wrap main .news_all .news_wrap .news_container .news {
    width:311px; height:287px;
    margin-right:42px;
    border:1px solid #ccc;
    position:relative; /* 글자수가 달라도 박스 크기는 동일하게 설정하려면 높이를 고정하고 position 적용하기 */
}
#wrap main .news_all .news_wrap .news_container .news:hover {
    border:1px solid #0000ff;
}
#wrap main .news_all .news_wrap .news_container .news a {}
#wrap main .news_all .news_wrap .news_container .news a p {}
#wrap main .news_all .news_wrap .news_container .news a p img {}
#wrap main .news_all .news_wrap .news_container .news a h3 {
    font-size:1.125rem;
    font-weight:500;
    margin:20px 0 40px 20px;
}
#wrap main .news_all .news_wrap .news_container .news .date {
    font-size:0.875rem;
    position:absolute; /* 그러면 피그마에서 설정한 여백 20px은 작성 X */
    left:20px; bottom:20px;
}
#wrap main .news_all .news_wrap .news_btn {margin-bottom:20px;}
#wrap main .news_all .news_wrap .news_btn #news_prev {margin-right:10px;}
#wrap main .news_all .news_wrap .news_btn #news_prev img {}
#wrap main .news_all .news_wrap .news_btn #news_next {transform:scaleX(-1);}
#wrap main .news_all .news_wrap .news_btn #news_next img {}
#wrap main .news_all .all_news {
    border:1px solid #aaa;
    padding:20px 60px;
    display:inline-block; /* display 중복사용 불가 */
    /* display:flex; width:max-content; margin:20px auto 50px; */
}
#wrap main .news_all .all_news img {
    margin-right:10px;
}
#wrap main .news_all .all_news em {
    font-size:0.875rem;
    font-weight:500;
}
/* all_news 버튼 hover 효과모음 -> 대상이 다를 때는 각자 작성해주기 */
#wrap main .news_all .all_news:hover {background-color:#000;}
#wrap main .news_all .all_news:hover img {filter:invert(100%);} /* 색 반전 */
#wrap main .news_all .all_news:hover em {color:#fff}
/* ==================================================================== */
/* ================================= 3. 삼립 스튜디오 */
#wrap main .studio_wrap {
    position:relative; /* open의 기준 */
    text-align:center;
} 
#wrap main .studio_wrap h2 {
    font-size:3rem;
    font-weight:700;
    margin-bottom:20px;
}
#wrap main .studio_wrap p {
    margin-bottom:20px;
}
/* ================================= 3. 삼립 스튜디오 - 유튜브 채널 미리보기 */
#wrap main .studio_wrap .studio_list {
    width:1370px;
    margin:80px auto;
    display:flex; flex-flow:row wrap;
    justify-content:space-between;
}
#wrap main .studio_wrap .studio_list a {
    margin-bottom:50px;
}
#wrap main .studio_wrap .studio_list a img {
}
/* ================================= 3. 삼립 스튜디오 - 유튜브 채널 open 영역 */
#wrap main .studio_wrap .studio_open {
    display:none;
    background-color:rgba(0,0,0,0.8);
    position:absolute; left:0; top:0; /* absolute 사용할때는 좌표, 기준부모(relative) 꼭 쓰기 */
    /* absolute가 적용된 대상은 그 대상이 block이어도 자동으로 inlie-block처럼 자식의 내용만큼만 크기를 인식하기 때문에 별도의 width 크기를 반드시 설정해야 한다 (fixed 동일) */
    width:100%; height:100vh; /* 높이 화면 보이는 만큼 - %는 부모만큼 */
}
#wrap main .studio_wrap .studio_open .open_container {
    height:100%;
    display:flex; flex-flow:column nowrap;
    justify-content:center; /* 메인축 정렬 justify */ align-items:center; /* 교차축 정렬 align*/
}
#wrap main .studio_wrap .studio_open .open_container .close {
    color:#fff;
    width:900px; /* 영상과 동일한 너비에서 정렬 적용 */
    text-align:right; /* 동일한 너비에서 오른쪽으로 */
}
#wrap main .studio_wrap .studio_open .open_container .youtube {}
#wrap main .studio_wrap .studio_open .open_container .youtube iframe {
    display:none; /* 모두 숨기기 */
    width:900px;
}
#wrap main .studio_wrap .studio_open .open_container .youtube iframe:first-child {display:block;}
/* ================================= 3. 삼립 스튜디오 - (고정) 하단링크 */
#wrap main .studio_wrap .youtube_link {
    display:flex; flex-flow:row nowrap; align-items:center;
    width:max-content; margin:0 auto;
    border:1px solid #aaa;
    padding:20px 60px;
}
#wrap main .studio_wrap .youtube_link img {
    margin-right:10px;
}
#wrap main .studio_wrap .youtube_link em {
    font-size:0.875rem;
    font-weight:500;
}
/* ================================= 3. 삼립 스튜디오 - (고정) 하단링크 hover*/
#wrap main .studio_wrap .youtube_link:hover {background-color:#000;}
#wrap main .studio_wrap .youtube_link:hover img {filter:invert(100%);}
#wrap main .studio_wrap .youtube_link:hover em {color:#fff;}
/*======================================================================= */
/* ================================== 4. 삼립 브랜드 */
#wrap main .brands_all {text-align:center; padding:50px 0;}
#wrap main .brands_all h2 {
    font-size:3rem;
    font-weight:700;
    margin-bottom:20px;
}
#wrap main .brands_all > p {
    margin-bottom:20px
}
/* ================================== 4. 삼립 브랜드(슬라이드) */
#wrap main .brands_all .brands_wrap {
    width:1370px; overflow:hidden; /* 부모안에서만보이기 - 보이고 싶은 너비 설정 필수*/
    margin:0 auto;
}
#wrap main .brands_all .brands_wrap .brands_container {
    /* 자식을 정렬하고 싶은 부모에 설정하기 */
    display:flex; flex:row nowrap;
    width:max-content; /* felx 쓰면 너비 설정 필수 */
    padding:80px 0;
}
#wrap main .brands_all .brands_wrap .brands_container > * {
    /* 슬라이드 12개 정렬값(부모기준 flex) */
    width:1370px;
    display:flex; flex-flow:row wrap;
    justify-content:space-between;
}
#wrap main .brands_all .brands_wrap .brands_container .brands_slide1 {}
#wrap main .brands_all .brands_wrap .brands_container .brands_slide2 {}
/* ================================== 4. 삼립 브랜드(개별 슬라이드 시작) */
#wrap main .brands_all .brands_wrap .brands_container ul[class*=slide] li {
    width:200px; height:120px;
    position:relative; /*  부모기준 */
    margin-bottom:50px;
}
#wrap main .brands_all .brands_wrap .brands_container ul[class*=slide] li:nth-child(6)~li {
    margin-bottom:0;
}
#wrap main .brands_all .brands_wrap .brands_container ul[class*=slide] li:hover .logo_detail{display:block} /* li에 마우스르 올렸을때 logo_detail이 나오게 설정 */
#wrap main .brands_all .brands_wrap .brands_container ul[class*=slide] li .logo {}
#wrap main .brands_all .brands_wrap .brands_container ul[class*=slide] li .logo img {}
#wrap main .brands_all .brands_wrap .brands_container ul[class*=slide] li .logo_detail {
    background-color:#36b4e5;
    position:absolute; /* 겹치는 대상 */
    left:0; top:0; /* absolute 좌표 작성 필수 */
    width:100%; height:100%; /* absolute의 부모대상과 도일한 크기 설정 */
    display:none;
    padding:20px 5px 0; 
}
#wrap main .brands_all .brands_wrap .brands_container ul[class*=slide] li .logo_detail * {
    color:#fff;
}
#wrap main .brands_all .brands_wrap .brands_container ul[class*=slide] li .logo_detail h3 {
    font-weight:600; margin-bottom:4px;
}
#wrap main .brands_all .brands_wrap .brands_container ul[class*=slide] li .logo_detail p {
    font-size:0.875rem; line-height:1.4; margin-bottom:4px;
}
#wrap main .brands_all .brands_wrap .brands_container ul[class*=slide] li .logo_detail .view {
    font-size:0.75rem; border:1px solid #fff; padding:2px 4px; 
}
/* ================================= 4. 삼립 브랜드(슬라이드 버튼) */
#wrap main .brands_all .brands_wrap .brands_btn {margin:34px 0;}
#wrap main .brands_all .brands_wrap .brands_btn #brands_prev  {}
#wrap main .brands_all .brands_wrap .brands_btn #brands_prev img {margin-right:10px;}
#wrap main .brands_all .brands_wrap .brands_btn #brands_next {transform:scaleX(-1);}
#wrap main .brands_all .brands_wrap .brands_btn #brands_next img {}